@import './_variable.scss';
.container{
    position: fixed;
    z-index: 99;
    top: 0px;
    width: 400px;
    height: 100%;
    min-height: 100px;
    background-color: $boxcolor;
    transition: all 0.3s;
    .nav_Div{
        width: 100%;
        .pf_List{
            width: 70%;
            margin: 0 auto;
            margin-top: 90px;
            color: white;
            font-size: 18px;
            font-family: 'extra';
            text-shadow: 1px 1px 2px black;
            img{
                width: 100%;
                height: auto;
                max-height: 280px;
                border-radius: 3px;
            }
            li{margin-bottom: 10px;}
            .study_Div{
                img{
                    width: 50px;
                    border-radius: 5px;
                    margin-right: 15px;
                    transition: transform 0.1s;
                    cursor: pointer;
                }
                img:hover{
                    transform: scale(1.1);
                }
            }
        }
        .menu_List{
            width: 80%;
            margin: 0 auto;
            font-family: 'extra';
            margin-top: 50px;
            li{
              font-size: 20px;
              cursor: pointer;
            }
            h1{color: $yellow;}            
            .pj_title{cursor: default;}
            .intro_title:hover{color: white}
            h2:hover{color: $yellow;}
            .pj_List{
                margin-left: 20px;
            }
        }
    }
}