@import './_variable.scss';
.container{
    width: 100%;
    height: 100%;
    img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .header_Box{
        width: 100%;
        transition: height 0.3s;
    }
    .wrap > div:not(.end_Div){
        background-color: $boxcolor;
        border-radius: 10px;
        padding: 20px;
    }
    .wrap > div{
        margin-bottom: 30px;
    }
    .wrap{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 50px;
        padding-top: 100px;
        h1{
            text-align: center;
        }
        h2,h3,h4:hover{color: $yellow;}
        h4{margin-top: 20px;}
        img{
            width: 100%;
            height: auto;
            margin: 0 auto;
            border-radius: 5px;
        }
        .career_Box{
            p{margin-left: 20px;}
        }
        .stack_Div{
            img{
                filter: drop-shadow(1px 1px 0.5px rgb(70, 70, 70));
            }
        }
        .pj_Div{
            position: relative;
            .icon_Box{
                position: absolute;
                width: 130%;
                top: 40%;
                left: -15%;
                img{
                    position: absolute;
                    cursor: pointer;
                    width: 60px;
                    height: 100px;
                    margin: 0px;
                    filter: drop-shadow(1px 1px 1px rgb(70, 70, 70));
                    transition: transform 0.3s;
                }
                img:hover{transform: scale(1.2);}
                .left{
                    left: 0px;
                }
                .right{
                    right: 0px;
                }
            }
            .pj_Box{
                h2{
                    font-family: 'extra';
                    text-align: center;
                    margin: 0 auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    transition: transform 0.1s;
                    width: fit-content;
                    border-bottom: 3px solid $yellow;
                    span{
                        display: none;
                    }
                }
                h2:hover{
                    cursor: pointer;
                    transform: scale(1.2);
                    span{
                        display: inline;
                    }
                }
                img{transition: transform 0.1s;}
                img:hover{
                    cursor: pointer;
                    transform: scale(1.02);
                }
                p{
                    text-align: center;
                }
            }
        }
    }
}
