@import 'common';
.container{
    width: 100%;
    height: 100%;
    .bgdiv{
        background-color: $yellow;
        position: fixed;
        z-index: -99;
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }
    .frontdiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: -99999;
            opacity: 0.7;
        }
        div{
            width: 70%;
            margin-top: 150px;
            h1{
                font-weight: 300;
                font-size: 20px;
                color: white;
                margin-bottom: 30px;
                text-align: center;
                text-shadow: 1px 1px 5px black;
            }
        }
    }
    img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .header_Box{
        width: 100%;
        transition: height 0.3s;
    }
    .wrap > div:not(.end_Div){
        box-Shadow: 0.5px 0.5px 5px 0.5px gray;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
    }
    .wrap > div{
        margin-bottom: 20px;
        border: 1px solid gray;
    }
    .wrap{
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        h1{
            font-family: 'bold';
            font-size: 25px;
            color: $hcolor;
            text-align: center;
        }
        h2{
            font-size: 20px;
            color: $hcolor;
            text-align: center;
        }
        p{
            font-family: 'light';
            color: white;
        }
        img{
            width: 100%;
            height: auto;
            margin: 0 auto;
            border-radius: 8px;
        }
        .intro_Div{
            .img_Div{
                max-width: 1140px; 
                min-height: 260px;
                margin: 0 auto;
                position: relative;
            }
            .text_Div{
                position: absolute;
                top: 20px;
                left: 0px;
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                h2{color: white;}
                .text_Box{
                    background-color: rgba(240, 186, 186, 0.3);
                    margin: 0 20px;
                    border-radius: 5px;
                    padding: 10px;
                    text-shadow: 2px 2px 3px gray;
                }
                .bub_Div{
                    min-height: 260px;
                    margin: 0 auto;
                    width: 0px;
                    height: 0px;
                    border-top: 30px solid rgba(240, 186, 186, 0.3);
                    border-right: 20px solid transparent;
                }
            }
        }
        .pj_Div{
            .pj_Box{
                display: grid;
                grid-template-columns: 49% 49%;
                gap: 2%;
                .text_Box{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .pj_View{transition: all 0.2s;}
                .pj_View:hover{transform: scale(1.3); color: $yellow;}
            }
        }
    }
}
